@{
  Layout = "_Layout";
}

@using HairSalon.Models;


<h2>Specialty: @Model["specialty"].GetDescription()</h2>
<hr>
@if (@Model["stylistSpecialties"].Count != 0)
{
  <h4> The following stylists have this specialty:</h4>
  <ul>
  @foreach (Stylist stylist in @Model["stylistSpecialties"])
  {
    <li>@stylist.GetName()<a href="/stylists/@stylist.GetId()/update"> Edit </a> | <a href="/stylists/@stylist.GetId()/delete"> Delete </a></li>
  }
  </ul>
}
<br>
<hr>
<h4>Add a stylist:</h4>
<form action='/specialties/@Model["specialty"].GetId()/stylists/new' method="post">
  <label for="stylist-id"> Select a stylist:</label>
  <select id="stylist-id" name="stylist-id" type="text">
    @foreach (var stylist in @Model["allStylists"])
    {
      <option value="@stylist.GetId()">@stylist.GetName()</option>
    }
  </select>
  <br>
  <button type="submit"> Add </button>
</form>
